{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": [
      "./tsconfig.json"
    ]
  },
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "property",
        "format": [
          "camelCase",
          "UPPER_CASE",
          "snake_case"
        ]
      }
    ],
    "camelcase": "off",
    "class-methods-use-this": "off"
  }
}
